@{
    ViewData["Title"] = "Contato";
    ViewData["Autor"] = "Davidson Almeida";
    ViewData["Email"] = "davidsonalmeida@outlook.com";
}

<h1>@ViewData["Title"]</h1>
<p>@ViewData["Autor"]</p>
<p>@ViewData["Email"]</p>
